<h3>アカウント情報の確認と編集</h3>

<%= form_with model:[:public, @member],local: true do |f| %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header text-center">ユーザー画像</h5>
      <div class="card-body">
        <div class="form-group text-center">
          <%= attachment_image_tag @member, :member_image, id: :img_prev, format:'jpg', size: "250x250", fallback: "/assets/noimage.jpg" %>
          <%= f.attachment_field :member_image, id: :member_img, class: "mt-4 ml-5" %>
          <script type="text/javascript">
            $(function() {
              function readURL(input) {
                  if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                  }
              }
              $("#member_img").change(function(){
                  readURL(this);
              });
            });
          </script>
          <!-- 12~27, Javascriptでプレビュー機能を実装するための記述 -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.label :ニックネーム %></br>
          <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.label :名前 %></br>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.label :フリガナ %></br>
          <%= f.text_field :kana_name, autofocus: true, autocomplete: "kana_name", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.label :メールアドレス %></br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.submit "アカウントを編集", class: "btn btn-success col-md-12" %>
        </div>
        <% end %>
        <%= link_to "変更せずマイページに戻る", public_member_path, class: "btn btn-info col-md-12 mb-2" %>
        <%= link_to "パスワードの変更はこちらから", edit_public_member_registration_path %></br>
        <%= link_to "退会手続き(登録情報の削除)", public_leave_path %>
        <p>登録情報を削除し、退会手続きを行います。</br>※一度退会されるとログインすることができなくなります</p>
      </div>
    </div>
  </div>
</div>

