<h3><%= @member.name %>様の会員情報の確認と編集</h3>

<%= form_with model:[:manager, @member],locai: true do |f| %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header text-center">ユーザー画像</h5>
      <div class="card-body">
        <div class="form-group text-center">
          <%= attachment_image_tag @member, :member_image, id: :img_prev, format:'jpg', size: "250x250", fallback: "/assets/noimage.jpg" %>
          <%= f.attachment_field :member_image, id: :member_img, class: "mt-4 ml-5" %>
          <script type="text/javascript">
            $(function() {
              function readURL(input) {
                  if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                  }
              }
              $("#member_img").change(function(){
                  readURL(this);
              });
            });
          </script>
          <!-- 12~27, Javascriptでプレビュー機能を実装するための記述 -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <% if @member.errors.any? %>
          <ul>
            <% @member.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :ニックネーム %></br>
          <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.label :名前 %></br>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.label :フリガナ %></br>
          <%= f.text_field :kana_name, autofocus: true, autocomplete: "kana_name", class: "col-md-12" %>
        </div>
        <div class="form-group">
          <%= f.label :メールアドレス %></br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-12" %>
        </div>
         <div class="form-group">
          <%= f.label :会員ステータス %></br>
          <%= f.radio_button :status, :true %>
          <%= f.label :status, "有効会員", value: true %>
          <%= f.radio_button :status, :false %>
          <%= f.label :status, "無効会員", value: false %>
        </div>
        <div class="form-group">
          <%= f.submit "アカウントを編集", class: "btn btn-success col-md-12" %>
        </div>
        <% end %>
        <div class="link">
          <%= link_to "注文履歴を見る", manager_order_path(@member), class: "btn btn-primary col-md-12 mb-3" %>
          <%= link_to "変更せず会員一覧に戻る", manager_members_path, class: "btn btn-info col-md-12" %>
        </div>
      </div>
    </div>
  </div>
</div>