<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <h5 class="card-header text-center">住所を変更する</h5>
      <div class="card-body">
        <%= form_with model:[:public, @address],locai: true do |f| %>
          <% if @address.errors %>
          <ul>
            <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>
          <div class="form-group">
            <%= f.label :ハイフンなしの郵便番号 %></br>
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label :住所 %></br>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label :宛名 %></br>
            <%= f.text_field :address_name, autofocus: true, autocomplete: "address_name", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label :ハイフンなしの電話番号 %></br>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.submit "変更を保存する", class: "btn btn-success col-md-12" %>
          </div>
        <% end %>
        <%= link_to "変更せずアドレス帳一覧に戻る", public_addresses_path, class: "btn btn-info col-md-12 mb-2" %>
      </div>
    </div>
  </div>
</div>