<h3>住所一覧</h3>

<div class="row">
  <%= link_to new_public_address_path do %>
  <div class="card add_address_card link_text">
    <i class="fas fa-plus fa-5x col text-center mt-5"></i>
    <h4 class="card-body text-center">新しい住所を追加</h4>
  </div>
  <% end %>

    <% @addresses.each do |address| %>
    <div class=col-md-4>
    <div class="card address_card">
      <div class="card-body">
        <p>
          <%= address.address_name %></br>
          〒 <%= address.postal_code %></br>
          <%= address.address %></br>
          電話番号: <%= address.phone_number %>
        </p>
        <div class="address_link">
          <%= link_to "編集する", edit_public_address_path(address) %> |
          <%= link_to "削除する", public_address_path(address), method: :delete, data: {confirm: "アドレスを一件削除します"} %>
        </div>
      </div>
    </div>
    </div>
    <% end %>

</div>
