<h3>商品新規登録</h3>

<%= form_with model:[:manager, @item],local: true do |f| %>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header text-center">商品画像を選択</h5>
      <div class="card-body">
        <div class="form-group text-center">
          <%= attachment_image_tag @item, :item_image, id: :img_prev, format:'jpg', size: "250x250", fallback: "noimage.jpg" %>
          <%= f.attachment_field :item_image, id: :category_img, class: "mt-4 ml-5" %>
          <%= render 'layouts/img_prev' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.label :商品名 %></br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label :商品説明 %></br>
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label :カテゴリ %></br>
            <%= f.select :genre_id, Genre.all.map{|genre| [genre.name, genre.id]} %>
          </div>
          <div class="form-group">
            <%= f.label :価格 %></br>
            <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "col-md-8" %> 円
          </div>
          <div class="form-group">
            <%= f.label :販売ステータス %></br>
            <%= f.select :status, [["在庫あり",true], ["在庫なし",false]], {include_blank: false, selected: true}, class: "col-md-8 py-1" %>
          </div>
          <div class="form-group">
            <%= f.submit "商品を追加", class: "btn btn-primary col-md-12" %>
          </div>
        <% end %>
        <%= link_to "登録せず商品一覧に戻る", manager_items_path, class: "btn btn-info col-md-12 mb-2" %>
      </div>
    </div>
  </div>
</div>