<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <h5 class="card-header text-center">アカウントのパスワードを変更</h5>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <% if resource.errors.any? %>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="form-group">
            <%= f.label "現在使用しているパスワード" %></br>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label "変更後パスワード(6桁以上)" %></br>
            <%= f.password_field :password, autocomplete: "new-password", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.label "確認用パスワード" %></br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-12" %>
          </div>
          <div class="form-group">
            <%= f.submit "パスワードを変更", class: "btn btn-success col-md-12" %>
          </div>
        <% end %>
        <%= link_to "変更せずアカウント情報に戻る", edit_public_member_path(current_public_member.id) %>
      </div>
    </div>
  </div>
</div>