<h3>商品一覧 (全<%= @items.total_count %>件)</h3>

<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <% @genres.each do |genre| %>
        <%= link_to public_genre_path(genre) do %>
        <li class="list-group-item">
          <%= attachment_image_tag genre, :genre_image,format:'jpg', size: "50x50", fallback: "/assets/noimage.jpg"%>
          <%= genre.name %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-9">
  <% @items.each do |item| %>
    <%= link_to public_item_path(item) do %>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= attachment_image_tag item, :item_image,format:'jpg', size: "180x180", fallback: "/assets/noimage.jpg" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text">¥<%= item.price.to_s(:delimited) %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
    <div class="col-md-4 offset-md-4">
    <%= paginate @items %>
    </div>
  </div>
</div>
