<div id="star-rate-<%= item.id %>"></div>
<script>
  $('#star-rate-<%= item.id %>').raty({
    size: 36,
    starOff:  "<%= asset_path("star-off.png") %>",
    starOn : "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    half: true,
    readOnly: true,
    score: <%= item.reviews.average(:rating).to_f.round(1) %>,
  });
</script>