<!DOCTYPE html>
<html>
  <head>
    <title>my_new_device...</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon(init: true) %>
    <script src="https://kit.fontawesome.com/61abcfe439.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーの記述 -->
    <header class="navbar">
      <div class="container">
        <nav><%= link_to root_path do %>
          <%= image_tag "logo1.png" %>
          <% end %>
        </nav>
        <nav>
          <% if public_member_signed_in? %>
            <ul class="nav">
              <li class="nav-item mr-3"><%= link_to "このサイトについて", public_about_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "マイページ", public_member_path(current_public_member.id), class: "btn btn-dark"%></li>
              <li class="nav-item mr-3"><%= link_to "商品一覧", public_items_path, class: "btn btn-dark"%></li>
              <li class="nav-item mr-3"><%= link_to "カート", public_cart_items_path, class: "btn btn-dark"%></li>
              <li class="nav-item mr-3"><%= link_to "ログアウト", destroy_public_member_session_path, method: :delete, class: "btn btn-dark"%></li>
            </ul>
            <div class="form-inline mt-3 justify-content-end">
              <h5 class="nav-item mr-5 mt-2 text-white">ようこそ、<%= current_public_member.name %>さん!</h5>
              <%= search_form_for @search, url: public_items_path do |f| %>
              <%= f.text_field :name_cont ,placeholder: "商品を検索" %>
              <button type="submit" class="btn btn-dark mr-3"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% elsif manager_admin_signed_in? %>
            <ul class="nav">
              <li class="nav-item mr-3"><%= link_to "商品一覧", manager_items_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "会員一覧", manager_members_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "注文履歴一覧", manager_orders_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "カテゴリ一覧", manager_genres_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "ログアウト", destroy_manager_admin_session_path, method: :delete, class: "btn btn-dark"%></li>
            </ul>
            <div class="form-inline mt-3 justify-content-end">
              <%= search_form_for @search, url: manager_items_path do |f| %>
              <%= f.text_field :name_cont ,placeholder: "商品を検索" %>
              <button type="submit" class="btn btn-dark mr-3"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% else %>
            <ul class="nav">
              <li class="nav-item mr-3"><%= link_to "このサイトについて", public_about_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "新規登録", new_public_member_registration_path, class: "btn btn-dark" %></li>
              <li class="nav-item mr-3"><%= link_to "ログイン", new_public_member_session_path, class: "btn btn-dark" %></li>
            </ul>
            <div class="form-inline mt-3 justify-content-end">
              <%= search_form_for @search, url: public_items_path do |f| %>
              <%= f.text_field :name_cont ,placeholder: "商品を検索" %>
              <button type="submit" class="btn btn-dark mr-3"><i class="fas fa-search"></i></button>
              <% end %>
            </div>
          <% end %>
        </nav>
      </div>
    </header>
      <div class="container">
        <div class="flash_message">
          <%= flash_message(flash[:success], :success) if flash[:success] %>
          <%= flash_message(flash[:error], :danger) if flash[:error] %>
          <%= flash_message(flash[:alert], :warning) if flash[:alert] %>
          <%= flash_message(flash[:notice], :info) if flash[:notice] %>
        </div>
        <%= yield %>
      </div>
      <!-- フッターの記述 -->
    <footer>
      <div class="row footer justify-content-center">
        <p class="footer_text m-3">CopyRight Odayutaka</p>
      </div>
    </footer>
  </body>
</html>
